body{
background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
.div_speed{
    float: left;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.div_volume_img{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
canvas{
    border-radius: 20px;
    animation-name: surya;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes surya{
    from{box-shadow: 10px 10px 10px red;}
    to{box-shadow: 10px 10px 10px yellow;}
}